POSTGRES_DB=reservations_db
POSTGRES_USER=reservations_admin
POSTGRES_PASSWORD=replace_with_local_password
POSTGRES_PORT=5432
POSTGRES_HOST=127.0.0.1
KEYCLOAK_PORT=8080
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=replace_with_local_admin_password
OIDC_ISSUER=http://localhost:8080/realms/reservations
OIDC_AUDIENCE=reservations-api
KEYCLOAK_CLIENT_ID=reservations-test
KEYCLOAK_CLIENT_SECRET=replace_with_local_client_secret
OIDC_JWKS_URL=http://localhost:8080/realms/reservations/protocol/openid-connect/certs